name: content modified

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  rebuild:
    name: deploy the site
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: .

      - name: deploy
        uses: actions/deploy-pages@v4
